* {
  box-sizing: border-box;
  font-family: sans-serif;
}
header {
  background-color: dimgray;
  padding: 2em;
}

header h1 {
  color: lightgray;
  display: inline;
  width: 100%;
}
main {
  padding: 1em; 
  background-color: lightgray;
}


section {
  background-color: gray;
  color: white;
  margin-bottom: 3em;
}

footer {
  background-color: dimgray;
  text-align: right; 
}
